<link rel="stylesheet" href="/css/profile.css">

<div class="main">
    {{> header}}
    <div class="hero-image">
        <br><br>
        <form class="form" method="POST">
            <label>Quote it {{name}}</label>
            <input class="roundedd" type="text" name="quote" placeholder="Write here..." value="{{qt}}">
            <div>
                {{#if butt}}
                    <button type="submit" class="button" formaction="/post{{id}}"><i class="fas fa-check"></i> Post</button>
                    {{else}}
                    <button type="submit" class="button" formaction="/edit{{id}}/{{pid}}"><i class="fas fa-check-circle"></i> Save edits</button>
                {{/if}}
            </div>

        </form>
    </div>
    {{> footer}}
</div>