<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/extraBlock.css">

<script type='text/javascript' src='js/handlebars-v4.0.5.js'></script>
<script>
	function folo(){
		document.getElementById("folo").style.display='block';
		document.getElementById("foli").style.display='none';
	}
	function foli(){
		document.getElementById("foli").style.display='block';
		document.getElementById("folo").style.display='none';
	}
</script>

<div class="main">
    {{> header}}
    {{> rect}}
	{{> search}}
    {{!--------------Portfolio Div-------------}}
	<div class="container portfolio">
		<div class="row">
			<div style="margin-left:53%;">
				<a class="button" href="/"><i class="fa fa-sign-out"></i> Log Out</a>
				<a class="button" href="/post{{uid}}"><i class="fa fa-plus"></i> Add Quote</a>
				<a class="button" href="/feed{{uid}}"><i class="fa fa-newspaper-o"></i> Feed</a>
			</div>
			<div class="col-md-12">
				<div class="heading">				
					<img src="https://image.ibb.co/cbCMvA/logo.png" />
					<img src="/img/quoteag.png"/>
				</div>
			</div>	
		</div>

		<div class="bio-info">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="bio-image">
								<img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" />
							</div>			
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="bio-content">
						<h1>{{user.name}}</h1>
						<h5><a class="bio-content" data-toggle="modal" data-target="#exampleModalCenter" onclick="folo()">
								Followers : {{user.followers.length}}</a>&ensp;
							<a class="bio-content" data-toggle="modal" data-target="#exampleModalCenter" onclick="foli()">Followings : {{user.following.length}}</a>&ensp;
							Posts : {{user.posts.length}}
						</h5>						
						<h6>I am a fresh web designer and I create custom web designs. I'm skilled at writing well-designed, testable and efficient code using current best practices in Web development. 
							I'm a fast learner, hard worker and team player who is proficient in making creative and innovative web pages.</h6>
						<p>P.S I have no special talent, I'm just passionately curious ;)</p>
						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalCenterTitle">Followers</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style="text-align: center;">
								<div id="folo" style="display: none;">
									{{#if user.followers.length}}
										{{#each folo}}
											<a class="ca" href="/sprofile{{this._id}}/{{../uid}}">{{this.name}}</a><br>
										{{/each}}
										{{else}} No followers yet
									{{/if}}
								</div>
								<div id="foli" style="display: none;">
									{{#if user.following.length}}
										{{#each foli}}
											<a class="ca" href="/sprofile{{this._id}}/{{../uid}}">{{this.name}}</a><br>
										{{/each}}
										{{else}} You're not following anyone
									{{/if}}
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
							</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	{{!-------------------------Own Posts---------------------------}}
	<div>
		{{#each user.posts}}
			<div class="card">
				<div>
					<nobr>
						<a class="edel" href="/delete{{this._id}}"><i class="fa fa-trash"></i> Delete</a>
						<a class="edel" href="/edit{{this._id}}"><i class="fa fa-pencil"></i> Edit</a>
					</nobr>
				</div>
				<div class="quote">
					{{this.quote}}<br>
				</div>
				<div style="text-align: left;">
					<i class="fas fa-heart hear"></i> Likes : {{this.like.length}}<br>
					<small>Published at : {{this.date}}</small>
				</div>
			</div>
		{{/each}}
	</div>
	{{> footer}}
</div>