<link rel="stylesheet" href="css/profile.css">
<script type='text/javascript' src='js/handlebars-v4.0.5.js'></script>

<div class="main">
    {{> header}}
    {{> rect}}
    <div class="container portfolio">
		<div class="row">
            <div style="margin-left:70%;">
                <a class="button" href="/follow{{uid}}/{{sear._id}}"><i class="fas fa-eye"></i> Follow </a>&ensp;
				<a class="button" href="/close{{uid}}"><i class="fas fa-times"></i> Close profile </a>
			</div>
			<div class="col-md-12">
				<div class="heading">				
					<img src="https://image.ibb.co/cbCMvA/logo.png" />
				</div>
			</div>	
		</div>
		<div class="bio-info">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="bio-image">
								<img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" />
							</div>			
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="bio-content">
						<h1>{{sear.name}}</h1>
						<h5>Followers : {{sear.followers.length}} &ensp; Followings : {{sear.following.length}} &ensp; Posts : {{sear.posts.length}}</h5>
						<h6>I am a fresh web designer and I create custom web designs. I'm skilled at writing well-designed, testable and efficient code using current best practices in Web development. I'm a fast learner, hard worker and team player who is proficient in making creative and innovative web pages.</h6>
						<p>P.S I have no special talent, I'm just passionately curious ;)</p>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div>
		{{#each sear.posts}}
			<div class="card">
				<div class="quote">
					{{this.quote}}<br>
				</div>
				<div class="heart">
					<a href="/like{{this._id}}"><i class="fas fa-heart heart"></i></a> Likes : {{this.like}}<br>
					<small>Published at : {{this.date}}</small>
				</div>
			</div>
		{{/each}}
	</div>
	{{> footer}}
</div>
<!-- Modal -->
{{!-- <div id="mod">
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Author Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="bio-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="bio-image">
                                            <img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" />
                                        </div>			
                                    </div>
                                </div>	
                            </div>
                            <div class="col-md-6">
                                <div class="bio-content">
                                    <h1>{{name}}</h1>
                                    <h5>Followers : {{followers.length}} &ensp; Followings : {{following.length}} &ensp; Posts : {{posts.length}}</h5>
                                    <h6>I am a fresh web designer and I create custom web designs. I'm skilled at writing well-designed, testable and efficient code using current best practices in Web development. I'm a fast learner, hard worker and team player who is proficient in making creative and innovative web pages.</h6>
                                    <p>P.S I have no special talent, I'm just passionately curious ;)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div>
                {{#each posts}}
                    <div class="card">
                        <div class="quote">
                            {{this.quote}}<br>
                        </div>
                        <div class="heart">
                            <a href="/like{{this._id}}"><i class="fas fa-heart heart"></i></a> Likes : {{this.like}}<br>
                            <small>Published at : {{this.date}}</small>
                        </div>
                    </div>
                {{/each}}
            </div>					
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        </div>
    </div>
</div> --}}